body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: darkblue;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn::before {
  content: "";
  background-color: blue;
  position: absolute;
  width: 0;
  height: 0;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 200px;
  height: 200px;
}
